html {
  margin: 0 auto;
  max-width: 900px;
}

body {
  background-color: #111;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100vh;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  padding-inline: 10px;
  text-wrap: pretty;
}

#menuDiv {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.menuInputOuter {
  display: grid;
  grid-template-columns: auto 180px;
  align-items: center;
  width: 250px;
  margin: 4px;
  gap: 4px;
  text-align: right;
  font-size: 14px;
}

.menuButton {
  margin: 15px;
  padding: 5px;
  width: 200px;
  background-color: #DDD;
  border: #999 solid 3px;
  border-radius: 20px;
}

.buyButton {
  margin: 15px;
  padding: 3px;
  width: 100px;
  background-color: #DDD;
  border: #999 solid 3px;
  border-radius: 20px;
}

.purchase {
  padding: auto;
  width: 75%;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  text-align: center;
}

.market {
  width: 100%;
  display: flex;
  align-items: center;
}

.outer {
  width: 100%;
  flex-flow: column;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.col {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.nodisplay {
  display: none !important;
}

canvas {
  background: #FFF;
}

#canvas {
  background: #555;
}

#preview {
  background: #555;
  width: 128px;
}

#goDiv {
  justify-content: space-between;
}

.justifyend {
  justify-content: flex-end
}

.justifystart {
  justify-content: flex-start
}

#levelSquares {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.world {
  display: flex;
  position: relative;
  flex-flow: row;
  width: 100%;
  gap: 2%;
  margin: 0.25rem;
  margin-top: 24px;
}

#world-1 {
  justify-content: center;
}

#world-2 {
  justify-content: end;
}

#world-3 {
  justify-content: start;
}

#world-4 {
  justify-content: end;
}

#world-5 {
  justify-content: start;
}

.locked {
  opacity: 0.5;
}

.locked .unlocked-icon,
.unlocked .locked-icon {
  display: none;
}

.unlocked {
  opacity: 1;
}

.world-label {
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 100%;
  user-select: none;
}

.square {
  width: 120px;
  background: #555;
  text-align: center;
  vertical-align: middle;
  display: flex;
  border-radius: 10%;
  border: 3px solid #999;
  cursor: pointer;
}

.square:after {
  content: '';
  display: inline-block;
  padding-bottom: 100%;
}

.square>div {
  text-align: center;
  display: flex;
  flex-flow: column;
  flex: 1;
  align-content: center;
  justify-content: center;
  color: #999;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20pt;
  font-weight: bold;

  /* stackoverflow.com/questions/826782 */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}

.squareSelected {
  border-color: yellow;
}